body {
    background: rgb(25,6,41);
    background: linear-gradient(90deg, rgba(25,6,41,1) 0%, rgba(78,23,126,1) 60%, rgba(92,24,150,1) 80%, rgba(122,27,201,1) 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgba(133, 28, 222, 1);
}

.mi_header{
    display: flex;
    justify-content: center;
}